<?xml version="1.0"?>
<!--
  EduNet WEB SERVER CONFIG FILE
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MainDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\eduDB.accdb;Persist Security Info=True" providerName="Microsoft.ACE.OLEDB.12.0"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add src="~/Controls/SideNav.ascx" tagPrefix="Avivnet" tagName="SideNav"/>
        <add src="~/Controls/TopNav.ascx" tagPrefix="Avivnet" tagName="TopNav"/>
        <add src="~/Controls/UILoader.ascx" tagPrefix="Avivnet" tagName="UILoader"/>
        <add src="~/Controls/Intersense.ascx" tagPrefix="Avivnet" tagName="Intersense"/>
        <add src="~/Controls/TimeTableWeek.ascx" tagPrefix="Avivnet" tagName="TimeTableWeek"/>
        <add src="~/Controls/TimeTableDay.ascx" tagPrefix="Avivnet" tagName="TimeTableDay"/>
        <add src="~/Controls/Chart.ascx" tagPrefix="Avivnet" tagName="Chart"/>
      </controls>
      <namespaces>
        <add namespace="Business_Logic"/>
        <add namespace="Business_Logic.Cities"/>
        <add namespace="Business_Logic.Disciplines"/>
        <add namespace="Business_Logic.Exams"/>
        <add namespace="Business_Logic.Grades"/>
        <add namespace="Business_Logic.Lessons"/>
        <add namespace="Business_Logic.Majors"/>
        <add namespace="Business_Logic.Members"/>
        <add namespace="Business_Logic.Messages"/>
        <add namespace="Business_Logic.Scores"/>
        <add namespace="Business_Logic.TeacherGrades"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="32768"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="he-IL" uiCulture="he-IL"/>
  </system.web>
  <appSettings>
    <add key="DaysInWeek" value="6"/>
    <add key="LessonsInDay" value="12"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Population.WebServiceCities" value="http://www.loveburn.com/school/WebServiceCities.asmx"/>
  <add key="AdjustmentWS.EduAdjustmentsService" value="http://localhost:6305/EduAdjustmentsService.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>